* {
    box-sizing: border-box;
    margin: 0;
}

body{
    overflow-x: hidden;
    background-color: #06171E;
    color: white;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    * {
        margin: 0px;
        border: 0px;
    }

    article, nav, section, .footer_inner {
        padding-left: max(calc(50% - 720px), 0px);
        padding-right: max(calc(50% - 720px), 0px);
    }
}