h1 {
    font-family: "Figtree-VariableFont_wght", sans-serif;
    font-size: 56px;
    font-weight: 800;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: 575px;
    /* später wieder löschen */

    margin: 160px 0px;
}

article>section>div>img {
    width: 150px;
    height: 150px;
}

.content_area {
    display: grid;
    justify-content: center;
    align-items: center;

    height: 350px;

    overflow-y: scroll;
    overflow-x: visible;
}

.content_row{
    display: grid;
    grid-template: auto/ 180px 150px 150px 150px 150px 150px 180px;
    justify-content: center;
    justify-items: center;

    gap: 16px;
}

.content_row > img:first-child{
    margin-left: 30px;
}
.content_row > img:last-child{
    margin-right: 30px;
}

.content_row> img{
z-index: 1;
    
    box-shadow: 0px 1px 4px rgba(3, 7, 18, 0.02),
        0px 5px 17px rgba(3, 7, 18, 0.04),
        0px 12px 39px rgba(3, 7, 18, 0.07),
        0px 20px 70px rgba(3, 7, 18, 0.09),
        0px 32px 109px rgba(3, 7, 18, 0.11);

    transition: all 0.08s ease-in-out;

    transform: perspective(0px) rotateY(0deg) translateX(0px);
}

.content_row > img:hover {
    z-index: 2;
    transform: perspective(50px) rotateY(0deg) translateX(0px) scaleX(1.15) scaleY(1.15);
}

.lastRow6 {
    grid-template: auto/ 180px 150px 150px 150px 150px 180px;
}
.lastRow5 {
    grid-template: auto/ 180px 150px 150px 150px 180px;
}
.lastRow4 {
    grid-template: auto/ 180px 150px 150px 180px;
}
.lastRow3 {
    grid-template: auto/ 180px 150px 180px;
}
.lastRow2 {
    grid-template: auto/ 180px 180px;
}
.lastRow1 {
    grid-template: auto/ 210px;
}

